<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Goodbye User, <%= @user.firstname %></h1>
    <p>
      Your actions were corrupt so we decided to delete you from this awesome website. We wish you reflect on your actions. Have a very nice day.<br>
    </p>
    <p>Thanks for ex-user and have a great day!</p>
  </body>
</html>